  @import url('https://fonts.googleapis.com/css2?family=Aleo:wght@200;400&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #E7E7E7;
}


.Rectangle1 {
    width: 1100px;
    height: 100px;
    background: #FD7542;
    border-radius: 131px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px auto;

}

.Rectangle1 h1 {
    text-align: center;
    color: #1B1363;
    font-size: 38px;
    font-family: 'Aleo', serif;
    font-weight: 400;
}

.descentralização {
    color: #FD7542;
    font-size: 20px;
    font-family: 'Aleo', serif;
    font-weight: 300;
    margin-top: 200px;
    margin-left: 200px;
}

.text1 h3 {
    color: #1B1363;
    font-family: 'Aleo', serif;
    margin-left: 200px;
}

.rede {
    color: #FD7542;
    font-size: 20px;
    font-family: 'Aleo', serif;
    font-weight: 300;
    margin-top: 200px;
    margin-left: 200px;
}

.text2 h3 {
    color: #1B1363;
    font-family: 'Aleo', serif;
    margin-left: 200px;
}

.qualificação {
    color: #FD7542;
    font-size: 20px;
    font-family: 'Aleo', serif;
    font-weight: 300;
    margin-top: 200px;
    margin-left: 200px;
}

.text3 h3 {
    color: #1B1363;
    font-family: 'Aleo', serif;
    margin-left: 200px;
}

.financeiro {
    color: #FD7542;
    font-size: 20px;
    font-family: 'Aleo', serif;
    font-weight: 300;
    margin-top: 200px;
    margin-left: 200px;
}

.text4 h3 {
    color: #1B1363;
    font-family: 'Aleo', serif;
    margin-left: 200px;
}


footer {
    padding: 80px;
    background-color: #1B1363;
    color: white;
    margin-top: 160px;
}

footer img {
    width: 15%;
}